@page "/album-search"

@using BlazorWeb.Shared
@inject HttpClient Http

<h3>AlbumsForArtist</h3>

<span>Artits name</span>

<EditForm Model="@Name" OnSubmit="@HandleValidSubmit">
    <DataAnnotationsValidator />
    <ValidationSummary />

    <InputText id="name" @bind-Value="Name" />

    <button type="submit">Search</button>
</EditForm>


<h2>artists:</h2>

@if (artists == null)
{
    <p><em>Loading...</em></p>
}
else
{
        <table class="artist">
            <thead>
                <tr>
                    <th>Artist Name</th>
                    <th>!!</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var a in artists)
                {
                    <tr>
                        <td>@a.Artist</td>
                        <td><button @onclick="@(e => AlbumOnClick(a.Id))" class="btn btn-info">Click for albums</button></td>
                    </tr>
                }
            </tbody>
        </table>

}

<h2>Albums</h2>
@if (albums != null)
{
    <table class="cover">
        <thead>
            <tr>
                <th>album Name</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var a in albums)
            {
                <tr>
                    <td>@a</td>
                    <td><button @onclick="@(e => AlbumOnClick(a.Id))" class="btn btn-info">Click for tracks</button></td>
                </tr>
            }
        </tbody>
    </table>
}

 <h3>Tracks</h3>
@if (tracks != null) 
{
    <table class="cover">
        <thead>
            <tr>
                <th>album Name</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var a in tracks)
            {
                <tr>
                    <td>@a</td>
                </tr>
            }
        </tbody>
    </table>
}


@code {
    string Name = "";
    List<SearchResponse> artists;
    List<SearchResponse> albums;
    List<string> tracks;

    //var queryString = opts.Request.Query;
    //string Name = queryString[$search];
    //if (Name != null)
    //{
    //    string key = Name.Split(" OR ")[Name.Split(" OR ").Length - 1];
    //    albums = albums.Where(fil => fil.Id.ToString().Contains(key) || fil.Name.Contains(key));
    //}

    private async void HandleValidSubmit()
    {        
        artists = await Http.GetFromJsonAsync<List<SearchResponse>>($"api/Search/{Name}");
        this.StateHasChanged();
    }

    private async void AlbumOnClick(int id)
    {
        albums = await Http.GetFromJsonAsync<List<SearchResponse>>($"api/albums/{id}");
        this.StateHasChanged();
    }

    private async void TrackOnClick(int id)
    {
        albums = await Http.GetFromJsonAsync<List<SearchResponse>>($"api/Track/{id}");
        this.StateHasChanged();
    }
}

